<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">URL</property>
        <property name="connection.username">USERNAME</property>
        <property name="connection.password">PASSWORD</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Set Hibernate to UTC Time -->
        <property name="hibernate.jdbc.time_zone">UTC</property>

        <!-- Names the annotated entity class -->
        <mapping class="com.beanbeanjuice.cafeapi.endpoints.cafe.user.CafeUserEntity"/>
        <mapping class="com.beanbeanjuice.cafeapi.endpoints.cafe.authentication.RoleEntity"/>
        <mapping class="com.beanbeanjuice.cafeapi.endpoints.cafe.authentication.RefreshTokenEntity"/>

        <!-- Users -->
        <mapping class="com.beanbeanjuice.cafeapi.endpoints.cafebot.users.user.UserEntity"/>
        <mapping class="com.beanbeanjuice.cafeapi.endpoints.cafebot.users.birthday.UserBirthdayEntity"/>
        <mapping class="com.beanbeanjuice.cafeapi.endpoints.cafebot.users.code.UserCodeEntity"/>
        <mapping class="com.beanbeanjuice.cafeapi.endpoints.cafebot.users.donation.UserDonationEntity"/>
        <mapping class="com.beanbeanjuice.cafeapi.endpoints.cafebot.users.games.UserGamesEntity"/>
        <mapping class="com.beanbeanjuice.cafeapi.endpoints.cafebot.users.interactions.UserInteractionEntity"/>

    </session-factory>

</hibernate-configuration>