name: Create Release

on:
  release:
    types: [ released ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  docker-release:
    name: Docker Bot Release
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.FORGEJO_REGISTRY }}
          username: ${{ secrets.FORGEJO_USERNAME }}
          password: ${{ secrets.FORGEJO_TOKEN }}
      - name: Extract version from release tag
        run: |
          TAG="${GITHUB_REF_NAME#*-v}"
          echo "TAG=$TAG" >> $GITHUB_ENV
      - name: Build and Push to Custom Registry
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ${{ secrets.FORGEJO_REGISTRY }}/${{ secrets.FORGEJO_USERNAME }}/cafebot-bot:latest
            ${{ secrets.FORGEJO_REGISTRY }}/${{ secrets.FORGEJO_USERNAME }}/cafebot-bot:${{ env.TAG }}
          provenance: true
          sbom: true
