name: Master Branch Push

on:
  push:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  gradle-build:
    name: Gradle Build
    uses: ./.github/workflows/reusable/gradle-build.yml

  gradle-test:
    name: Gradle (${{ matrix.gradle-version }}) Test
    strategy:
      fail-fast: false
      matrix:
        gradle-version: [8.14.3, 9.2.1]

    uses: ./.github/workflows/reusable/gradle-test.yml
    with:
      gradle-version: ${{ matrix.gradle-version }}

  docker-release:
    if: ${{ !startsWith(github.head_ref, 'dependabot/') }}
    name: Docker PR Release
    runs-on: ubuntu-latest
    needs: [ gradle-build, gradle-test ]
    steps:
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Checkout Repository
        uses: actions/checkout@v5
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.FORGEJO_REGISTRY }}
          username: ${{ secrets.FORGEJO_USERNAME }}
          password: ${{ secrets.FORGEJO_TOKEN }}
      -
        name: Read next BOT version from manifest
        run: |
          VERSION=$(jq -r '.["."]' .github/.release-please-manifest.json)
          echo "TAG=$VERSION" >> $GITHUB_ENV
      -
        name: Build and Push to Custom Registry
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ${{ secrets.FORGEJO_REGISTRY }}/${{ secrets.FORGEJO_USERNAME }}/cafebot-bot:dev-latest
            ${{ secrets.FORGEJO_REGISTRY }}/${{ secrets.FORGEJO_USERNAME }}/cafebot-bot:dev-${{ env.TAG }}
          provenance: true
          sbom: true

  release-please:
    name: Update Changelog
    runs-on: ubuntu-latest
#    needs: [ gradle-build, gradle-test ]
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      -
        name: Update Version Number and Release to GitHub
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.PERSONAL_PAT }}
          manifest-file: .github/.release-please-manifest.json
          config-file: .github/.release-please-config.json
