name: Test PR

on: [ pull_request ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  gradle-build:
    name: Gradle Build
    uses: ./.github/workflows/reusable/gradle-build.yml

  gradle-test:
    name: Gradle (${{ matrix.gradle-version }}) Test
    strategy:
      fail-fast: false
      matrix:
        gradle-version: [8.14.3, 9.2.1]

    uses: ./.github/workflows/reusable/gradle-test.yml
    with:
      gradle-version: ${{ matrix.gradle-version }}

  docker-release:
    if: ${{ !startsWith(github.head_ref, 'dependabot/') }}
    name: Docker PR Release
    runs-on: ubuntu-latest
    needs: [ gradle-build, gradle-test ]
    steps:
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Checkout Repository
        uses: actions/checkout@v5
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.FORGEJO_REGISTRY }}
          username: ${{ secrets.FORGEJO_USERNAME }}
          password: ${{ secrets.FORGEJO_TOKEN }}
      -
        name: Build and Push to Custom Registry
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            ${{ secrets.FORGEJO_REGISTRY }}/${{ secrets.FORGEJO_USERNAME }}/cafebot-bot:unstable
            ${{ secrets.FORGEJO_REGISTRY }}/${{ secrets.FORGEJO_USERNAME }}/cafebot-bot:pr-${{ github.event.pull_request.number }}
          provenance: true
          sbom: true
